.sidebarContainer {
  width: 22vw;
}
.profileRight {
  width: 77.7vw;
  position: relative;
  left: 22vw;
  top: -100vh;
}

.profileCover {
  height: 320px;
  position: relative;
}
.profileCoverImg {
  height: 250px;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 20px;
}
.profileUserImg {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 150px;
  border: 3px solid #fff;
}
.profileInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.profileInfoName {
  font-size: 24px;
}
.profileInfoDesc {
  font-weight: 300;
}
.profileRightBottom {
  display: flex;
}
