.rightbarContainer {
  flex: 3.5;
}

.rightbarWrapper {
  padding: 20px 20px 0 0;
}
.birthdayContainer {
  display: flex;
  align-items: center;
}
.birthdayImg {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.birthdayText {
  font-weight: 300;
  font-size: 15px;
}
.rightbarAd {
  width: 100%;
  border-radius: 10px;
  margin: 15px 0;
  object-fit: contain;
}
.rightbarTitle {
  margin-bottom: 20px;
}
.rightbarFriendList {
  margin:0;
  padding: 0;
  list-style: none;
}

.profileRightbarTitle {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}
.profileRightBarInfo {
  margin-bottom: 25px;
}
.profileRightbarInfoKey {
  font-weight: 500;
  margin-right: 8px;
  color: #555;
}
.profileRightbarInfoValue {
  font-weight: 300;
}
.profileRightbarFollowings {
  display: flex;
  flex-wrap: wrap;
}
.profileRightbarInfoItem {
  margin-bottom: 10px;
}
.profileRightbarFollowingImg {
  width: 100px;
  height: 100px;
  border-radius: 10%;
  object-fit: cover;
}
.profileRightbarFollowing{
  display: flex;
  flex-direction: column;
  margin: 0 5px;
}


